body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 100%;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

.app-header {
	margin: 2rem auto;
	max-width: 800px;
}

h1 {
	font-weight: 900;
	margin: 0;
}

.data-grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-content: space-between;
	max-width: 800px;
	margin: 0 auto;
}



.forecast-list {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {
		margin: 0;
	}
}

.forecast-item {
	display: grid;
	grid-gap: .5rem;
	grid-template-areas: 
		"temp day"
		"temp desc"
		"temp wind";
	grid-template-columns: 40% auto;
	padding: 1rem;

	&.forecast-daytime {
		background-color: #fcf4e0;
	}

	&.forecast-nighttime {
		background-color: midnightblue;
		color: white;
	}
}

.forecast-day {
	grid-area: day;
}

.forecast-desc {
	grid-area: desc;
	font-size: 0.75rem;
	font-style: italic;
}

.forecast-temp {
	grid-area: temp;
	font-size: 2rem;
	font-weight: bold;
}

.forecast-wind {
	grid-area: wind;
	font-size: 0.75rem;
}



.current-conditions {
	display: flex;
	justify-content: center;
}

.hourly-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hourly-item {
	padding: 0.5rem 1rem;
	margin: 0;
	border-bottom: 1px solid black;

	display: flex;

	time {
		font-weight: 900;
		width: 6ch;
		text-align: right;
		margin-right: 1ch;
	}

	div {
		margin-right: 1ch;
	}
}
